.Board {
  margin: 0 auto;
  display: absolute;
}

td {
  border: 3px solid black;
  border-radius: 20px
}

.game {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}